.global {

    &__top-title {
        border-right: 2px solid map-get($color-map, 'brand');
        display: inline-block;
        font-family: $base-font-family-second;
        font-weight: 300;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 0px;
        padding-right: 15px;
        position: relative;
        width: auto;
        z-index: 99;

        @include breakpoint($breakpoint_laptop){

        }
        @include breakpoint($breakpoint_desktop){
            font-size: 20px;
        }
        @include breakpoint($breakpoint_tablet){
            font-size: 20px;
        }
        @include breakpoint($breakpoint_mobile){

        }
        @include breakpoint($breakpoint_small){

        }
    }
    &__title {
        font-size: 48px;
        font-weight: 500;
        font-family: $base-font-family;
        margin-top: 0;
        margin-bottom: $base-content-margin + 20px;
        padding-bottom: 30px;
        padding-left: 25px;
        position: relative;
        text-transform: uppercase;
        z-index: 99;
        display: inline-block;

            &:after {
                background-color: map-get($color-map, 'brand');
                bottom: 0;
                content: '';
                display: block;
                height: 2px;
                left: 20px;
                position: absolute;
                width: 110%;
            }

            @include breakpoint($breakpoint_laptop){

            }
            @include breakpoint($breakpoint_desktop){
                font-size: 40px;
            }
            @include breakpoint($breakpoint_tablet){
                font-size: 38px;
            }
            @include breakpoint($breakpoint_mobile){

            }
            @include breakpoint($breakpoint_small){

            }
    }
    &__overlay {
        background-color: rgba(0,0,0,0.5);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
    }
}