.skills {
  &__container {
    position: relative;
    z-index: 9;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpoint($breakpoint_laptop){

    }
    @include breakpoint($breakpoint_desktop){

    }
    @include breakpoint($breakpoint_tablet){

    }
    @include breakpoint($breakpoint_mobile){
        flex-flow: column;
        justify-content: center;
    }
    @include breakpoint($breakpoint_small){
        flex-flow: column;
        justify-content: center;
    }
  }
  &__content {
      position: relative;
      z-index: 9;
      width: 100%;

      .global__top-title {
          color: $base-white-color;
      }
      .global__title {
          color: $base-white-color;
      }
  }


  &__single-item {
    max-width: calc(100% / 6 );
    width: 100%;

    @include breakpoint($breakpoint_laptop){

    }
    @include breakpoint($breakpoint_desktop){

    }
    @include breakpoint($breakpoint_tablet){

    }
    @include breakpoint($breakpoint_mobile){
        width: 100%;
        margin: 0 0 15px;
        max-width: 100%;
    }
    @include breakpoint($breakpoint_small){
        width: 100%;
        margin: 0 0 15px;
        max-width: 100%;
    }
    &--counter {
        color: $base-white-color;
        font-size: 36px;
        display: block;
        margin-bottom: 15px;
        text-align: center;
        font-family: $base-font-family;
    }
    &--title {
        color: $base-white-color;
        font-family: $base-font-family-second;
        text-align: center;
        font-weight: 400;
    }
  }
}
