//Some stuff here is out of BEM because it is used inside WP as helpers or modifiers

.btn {
  @extend %button-reset;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: $base-font-family-second;
  justify-content: center;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  border-radius: 0;

  transition: {
    property: background-color, color, border-color;
    timing-function: ease-in;
    duration: 0.3s;
  }

//@include button-sizes;
  @include button-colors;

  &--block {
    display: flex;
  }

  @include modifier('hero'){
      background: transparent;
      border: 2px solid map-get($color-map, 'brand');
      display: inline-block;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0;
      outline: none;
      padding: 20px 75px;
      overflow: hidden;
      text-transform: uppercase;
      z-index: 9;
      transition: $transition;

      @include breakpoint($breakpoint_laptop){

      }
      @include breakpoint($breakpoint_desktop){

      }
      @include breakpoint($breakpoint_tablet){

      }
      @include breakpoint($breakpoint_mobile){
          padding: 10px 40px;
      }
      @include breakpoint($breakpoint_small){
          padding: 10px 40px;
      }

      &:before{
          content: attr(data-hover);
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-weight: 600;
          font-size: 18px;
          opacity: 0;
          transform: translate(-100%,-50%);
          transition: $transition;

          @include breakpoint($breakpoint_laptop){

          }
          @include breakpoint($breakpoint_desktop){

          }
          @include breakpoint($breakpoint_tablet){

          }
          @include breakpoint($breakpoint_mobile){
              font-size: 16px;
          }
          @include breakpoint($breakpoint_small){
              font-size: 16px;
          }
      }
      span{
          color: map-get($color-map, 'white');
          text-transform: uppercase;
          display: inline-block;
          letter-spacing: 3px;
          font-weight: 600;
          font-size: 18px;
          transition: all .3s ease-in-out;

          @include breakpoint($breakpoint_laptop){

          }
          @include breakpoint($breakpoint_desktop){

          }
          @include breakpoint($breakpoint_tablet){

          }
          @include breakpoint($breakpoint_mobile){
              font-size: 16px;
          }
          @include breakpoint($breakpoint_small){
              font-size: 16px;
          }
      }
      &:hover{
          color: map-get($color-map, 'white');
          background-color: transparent;
          transition: $transition;

          &:before{
              color: map-get($color-map, 'white');
              opacity: 1;
              transform: translate(0,-50%);
          }
          span {
              opacity: 0;
              transform: translate(100%,0);
              transition: $transition;
          }
      }
  }
  @include modifier('brand') {
        background-color: $base-rouge-color;
        padding: 15px 35px;
        color: $base-white-color;
        text-transform: uppercase;
        display: inline-block;
        border: 1px solid $base-rouge-color;
        margin-left: 0px;
        line-height: 1;
        height: auto;

        @include breakpoint($breakpoint_laptop){

        }
        @include breakpoint($breakpoint_desktop){

        }
        @include breakpoint($breakpoint_tablet){

        }
        @include breakpoint($breakpoint_mobile){
            float: none;
            display: block;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 0;
            font-size: 16px;
        }
        @include breakpoint($breakpoint_small){
            float: none;
            display: block;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 0;
            font-size: 16px;
        }

        &:hover {
            background-color: $base-white-color;
            color: $base-rouge-color;
            border-color: $base-rouge-color;
        }
    }
}
