// .header {

// }
.header {

	&--site {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 20px 0;
		color: #000000;
		background-color: rgba(0,0,0,0.6);
		z-index: 9999;
    transition: {
        property: all;
        timing-function: ease;
        duration: 0.3s;
    }
		transform: translate3d(0,0,0); //This makes it prepared better for slide animation since it's using GPU

		.wrapper {
			max-width: 90%;
      width: 100%;
      margin: 0 auto;

			@include breakpoint($breakpoint_laptop){

			}
			@include breakpoint($breakpoint_desktop){
				max-width: 100%;
			}
			@include breakpoint($breakpoint_tablet){
				max-width: 100%;
			}
			@include breakpoint($breakpoint_mobile){

			}
			@include breakpoint($breakpoint_small){

			}
		}
		.container {
			overflow: hidden;
			padding: 0;

		  @include breakpoint($breakpoint_laptop){

			}
			@include breakpoint($breakpoint_desktop){
				padding: 0 20px;
			}
			@include breakpoint($breakpoint_tablet){
				padding: 0 20px;
			}
			@include breakpoint($breakpoint_mobile){
				padding: 0 20px;
			}
			@include breakpoint($breakpoint_small){
				padding: 0 20px;
			}
		}
	}

	&.sticky {
		background-color: rgba(0,0,0,0.6);
        transition: {
            property: all;
            timing-function: ease;
            duration: 0.3s;
        }

		.resp-buttons {
			//background-color: rgba(0, 0, 0, 0.9);

            transition: {
                property: all;
                timing-function: ease;
                duration: 0.3s;
            }
		}

	}
	&--landing {
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0px;
		color: #000;
		z-index: 9999;

		.logo {
			display: none;
		}
	}

}

.logo {
      float: left;
      margin: 0px;
      line-height: 52px;
      font-size: 1px;
      max-width: 250px;
      display: block;
      width: 100%;
      height: auto;
      transition: $transition;

      @include breakpoint($breakpoint_mobile) {
          height: auto;
          max-width: 180px;
      }
      &--center {
          float: none;
          max-width: 180px;
          margin: 0 auto;
      }
      &__link {
          display: inline-block;
          color: #ffffff;
          width: 100%;

          img {
              width: 100%;
              height: auto;
              vertical-align: middle;
          }

          &:hover {
              color: #eeeeee;
          }
      }
    }