.main-nav__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-right: $base-content-margin;
	opacity: 0;
	padding: 0;
	transform-origin: top;
	transform: translate3d(0, 0, 0) scaleY(0);
	width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: $transition;
}
.main-navigation {
  margin-bottom: 45px;
  display: block;
  position: relative;
  max-width: 360px;
  width: 100%;
  padding: 0;

  &__item {
    float: none;
    margin: 0;
    display: block;
    line-height: 1.4;
    text-align: center;

    a {
      text-align: center;
      display: inline-block;
      color: #ffffff;
      font-size: 20px;
      padding: 15px 25px;
      position: relative;
      transition: $transition;

      &:after {
        content: '';
        width: 100%;
        background-color: rgba(255,255,255,0.8);
        height: 2px;
        position: absolute;
        left: 0%;
        bottom: 0%;
        transform: scaleX(0);
        transform-origin: center;
        transition: $transition;
      }
      &:hover {
        color: $base-rouge-color;
        transition: $transition;

        &::after {
          transform: scaleX(1);
          transform-origin: center;
          transition: $transition;
        }
      }
    }
  }
}
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-open {
  overflow: hidden;

  .main-nav__container {
		opacity: 1;
		transform-origin: top;
		transform: translate3d(0,0,0) scaleY(1);
		transition: $transition;
  }

}