
$input: (
  'border-color': $base-silver-color,
  'text-color': $base-dark-color,
  'tap-highlight-color': rgba($base-black-color, 0),
  'border-color-focus': $base-rouge-color,

);

.input,
.select,
.textarea {
  @extend %input-reset;

  @include text-size(medium);
  font-family: $base-font-family-second;
  border: 0;
  border-bottom: 1px solid map-get($input, 'border-color');
  display: flex;
  padding: 10px 15px;
  width: 100%;
  font-weight: 300;
  color: map-get($input, 'text-color');
  border-radius: 0;
  -webkit-tap-highlight-color: map-get($input, 'tap-highlight-color');
  line-height: 1;

  //@include input-sizes;

  &:focus {
    //@extend %input-focus-shadow;
    outline: none;
    border-bottom: 1px solid map-get($input, 'border-color-focus');
  }

  &--disable-user-select {
    user-select: none;
  }
}

.textarea {
  min-height: 140px;
  resize: vertical;
}

input::-ms-clear {
  display: none;
}
